@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Playpen+Sans:wght@100..800&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
}

::selection {
    background-color: black;
    color: white;
}

html {
    scrollbar-width: none;
}

body {
    margin: 0;
    background-color: #FAFAF8;
    font-family: Playpen Sans, Handlee, cursive;
}

#root {
    display: flex;
    flex-direction: column;
}

header {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

header > div {
    width: min(64rem, 90dvw);
}

#Ayman {
    border-radius: 50%;
    border: 2px dashed transparent;
    padding: 0.125rem;
    transition: border-color 0.3s ease-in-out;

    & img {
        width: 2.25rem;
    }

    &:hover {
        border-color: black;
    }
}

main {
    width: min(64rem, 90dvw)
}

form #ingredient {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#submission, #form-reset {
    width: min(64rem, 90dvw);
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(4px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fade-in 0.6s ease forwards;
}
